modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "bash -c 'npm install && npm run dev'"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]
exposeLocalhost = true

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm install && npm run build"]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 3002
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8976
externalPort = 3000

[workflows]
runButton = "Start App"

[[workflows.workflow]]
name = "Start Web Feedback App"
author = 40492995
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm cache clean --force"
waitForPort = 3002

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start App"
author = 47589424
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm cache clean --force"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[agent]
integrations = ["javascript_database:1.0.0"]

[userenv]

[userenv.shared]
FRONTEND_URL = "https://bubblescafe.space"
BACKEND_BASE_URL = "https://api.bubblescafe.space"
ENABLE_WORDPRESS_SCHEDULER = "true"
DISABLE_LOCAL_AUTH = "false"
NODE_ENV = "production"
PAYSTACK_LINK = "https://paystack.shop/pay/z7fmj9rge1"
GOOGLE_LOGIN_URI = "https://api.bubblescafe.space/api/auth/login/google"
GOOGLE_REDIRECT_URI = "https://api.bubblescafe.space/api/auth/callback"
GMAIL_ADMIN_EMAIL = "vantalison@gmail.com"
WORDPRESS_API = "https://public-api.wordpress.com/wp/v2/sites/bubbleteameimei.wordpress.com/posts?per_page=100"
